@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ----------- Bootstrap Class custom ----------- */
* ,html {
    font-family: 'kanit', sans-serif;
    box-sizing: border-box;
}
a { text-decoration: none !important; color: #000; }
button, input { border: none; background: transparent; outline: none; cursor: pointer; }
ul, li { list-style: none; }
img { width: 100%; vertical-align: middle; }


/* ================= Frequently used Class ================= */
.kc-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* --------------- btn --------------- */
.kc-btn {
    font-weight: 500;
    padding: .8rem 1.6rem;
    transition: all .25s ease;   
    overflow: hidden;
    border-radius: 100px;
}

/* --------------- animate btn --------------- */
.kc-btn-animate {
    position: relative;
    color: #fff;
    overflow: hidden; 
    border: 1px solid #fff;
    z-index: 5;
}
.kc-btn-animate:hover {
    border: 1px solid #1489f6;
}
.kc-btn-animate::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 150%;
    background-color: #033d93;
    transform: skew(50deg);
    transition: .5s ease;
    z-index: -1;
}
.kc-btn-animate:hover::before {
    width: 150%;
    background-color: #1489f6;
}

/* --------------- slide btn --------------- */
.kc-btn-slide {
    position: relative;
    color: #fff;
    background-color: #1489f6;
    z-index: 5;
}
.kc-btn-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 150%;
    background-color: #fff;
    transform: skew(50deg);
    transition: .5s ease;
    z-index: -1;
}
.kc-btn-slide:hover::before {
    width: 150%;
    background-color: #1489f6;
}



/* ---------------------------------------------- */
/* ================= Header ================= */
/* ---------------------------------------------- */
.kc-header {
    width: 100%;
    height: 780px;
    background: url(../images/banner_bg1.jpeg) center / cover no-repeat;
}


/* --------------- navbar --------------- */
.kc-nav-menu li a {
    color: #fff;
}