/* ========== Import font Kanit & Barlow ========== */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ----------- Bootstrap Class custom ----------- */
* ,html {
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
}
a { text-decoration: none !important; color: #000; }
button, input { border: none; background: transparent; outline: none; cursor: pointer; }
ul, li { list-style: none; }
img { width: 100%; vertical-align: middle; }


:root {

    /* ----------- Color Text ----------- */
    --text-info: #6B707F;
    --text-description: #505052;
    --text-black: #000;
    --text-white: #fff;

    --color-01: #033d93;
    --color-02: #1489f6;
    --color-03: #1489f6;

    --bg-body: #f8f9fa;

    /* ----------- Background icons ----------- */
    --bg-icon-01: #FE3387;
    --bg-icon-02: #7A35FE;
    --bg-icon-03: #68D2FF;
    --bg-icon-04: #ff8631;
    --bg-icon-05: #fd5b5b;
    --bg-icon-06: #4ad00a;
    --bg-icon-07: #1d8ffa;
}


/* ================= Frequently used Class ================= */
main { background-color: var(--bg-body);}
.kc-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}

.kc-topic { text-align: center; }
.kc-topic p { text-transform: uppercase; font-weight: 600; font-size: 1rem; margin: 0; letter-spacing: 2px; color: var(--color-02); }
.kc-topic h1 { font-size: 2.2rem; font-weight: 600; padding-top: .5rem; }


/* --------------- Slick slider Custom --------------- */
.slick-dots li button::before { content: none !important; }
.slick-dots li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background-color: #ccc;
}
.slick-dots .slick-active {
    background-color: var(--color-02);
}

/* --------------- btn --------------- */
.kc-btn {
    font-weight: 500;
    padding: .8rem 1.6rem;
    transition: all .25s ease;   
    overflow: hidden;
    border-radius: 100px;
}

/* --------------- animate btn --------------- */
.kc-btn-animate {
    position: relative;
    color: #fff;
    overflow: hidden; 
    border: 1px solid #fff;
    z-index: 5;
}
.kc-btn-animate:hover {
    border: 1px solid var(--color-02);
}
.kc-btn-animate::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 150%;
    background-color: var(--color-01);
    transform: skew(50deg);
    transition: .5s ease;
    z-index: -1;
}
.kc-btn-animate:hover::before {
    width: 150%;
    background-color: var(--color-02);
}

/* --------------- slide btn --------------- */
.kc-btn-slide {
    position: relative;
    display: inline-block;
    color: #fff;
    background-color: var(--color-02);
    overflow: hidden;
    z-index: 5;
}
.kc-btn-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 150%;
    background-color: #fff;
    transform: skew(50deg);
    transition: .5s ease;
    z-index: -1;
}
.kc-btn-slide:hover::before {
    width: 150%;
    background-color: var(--color-02);
}


/* --------------- tranperent btn --------------- */
.kc-btn-tranperent {
    position: relative;
    display: inline-block;
    border-radius: 100px;
    overflow: hidden;
    color: #fff;
    border: 1px solid #fff;
    z-index: 2;
}
.kc-btn-tranperent::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 150%;
    background-color: transparent;
    transform: skew(50deg);
    z-index: -1;
    transition: all .5s ease;
}
.kc-btn-tranperent:hover::before {
    width: 150%;
    background-color: #fff;
}


/* ---------------------------------------------- */
/* ================= Header ================= */
/* ---------------------------------------------- */
.kc-header {
    width: 100%;
    height: 780px;
    background: url(../images/banner_bg1.jpeg) center / cover no-repeat;
}


/* --------------- navbar --------------- */
.kc-navbar {
    width: 100%;
    z-index: 999;
}

.kc-nav-menu li a {
    color: #fff;
}

.kc-nav-bgchange {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 20px #eeeeee;
}

.kc-nav-bgchange .kc-nav-menu li a { color: #000 !important; }
.kc-nav-bgchange h1 { color: #000 !important; }
.kc-nav-bgchange .kc-btn { color: #000 !important; border: 1px solid #000; }
.kc-nav-bgchange .kc-btn:hover { color: #fff !important; border: 1px solid var(--color-02); }


/* --------------- navbar --------------- */
.kc-header-content .kc-header-title {
    font-size: 3rem;
    font-weight: 600;
}


/* ---------------------------------------------- */
/* ================= Main ================= */
/* ---------------------------------------------- */

/* ---------------------------------------------- */
/* ================= Section 01 | Online Document ================= */
.kc-sc01-items { transition: all .5s ease; }

.kc-sc01-items i { 
    position: relative;
    font-size: 50px; 
    padding: 1.2rem;
    border-radius: 0 50% 50% 50%;
    color: #fff;
    transition: all .5s ease;
}

.kc-sc01-items:hover i { border-radius: 50% 0 50% 50%; }

.kc-sc01-info:nth-child(1) .kc-sc01-items { background-color: #FFF9FB; }
.kc-sc01-info:nth-child(1) .kc-sc01-items i { background-color: var(--bg-icon-01); }
.kc-sc01-info:nth-child(1) .kc-sc01-items:hover { background-color: var(--bg-icon-01); }
.kc-sc01-info:nth-child(1) .kc-sc01-items:hover i { background-color: #fff; color: var(--bg-icon-01); }
.kc-sc01-info:nth-child(1) .kc-sc01-items:hover h1,
.kc-sc01-info:nth-child(1) .kc-sc01-items:hover p { color: var(--text-white); }
.kc-sc01-info:nth-child(1) .kc-sc01-items:hover a { color: var(--text-white); border: 1px solid var(--text-white); }
.kc-sc01-info:nth-child(1) .kc-sc01-items a:hover { color: var(--bg-icon-01); }


.kc-sc01-info:nth-child(2) .kc-sc01-items { background-color: #f1edfc; }
.kc-sc01-info:nth-child(2) .kc-sc01-items i { background-color: var(--bg-icon-02); }
.kc-sc01-info:nth-child(2) .kc-sc01-items:hover { background-color: var(--bg-icon-02); }
.kc-sc01-info:nth-child(2) .kc-sc01-items:hover i { background-color: #fff; color: var(--bg-icon-02); }
.kc-sc01-info:nth-child(2) .kc-sc01-items:hover h1,
.kc-sc01-info:nth-child(2) .kc-sc01-items:hover p { color: var(--text-white); }
.kc-sc01-info:nth-child(2) .kc-sc01-items:hover a { color: var(--text-white); border: 1px solid var(--text-white); }
.kc-sc01-info:nth-child(2) .kc-sc01-items a:hover { color: var(--bg-icon-02); }


.kc-sc01-info:nth-child(3) .kc-sc01-items { background-color: #F3FBFF; }
.kc-sc01-info:nth-child(3) .kc-sc01-items i { background-color: var(--bg-icon-03); }
.kc-sc01-info:nth-child(3) .kc-sc01-items:hover { background-color: var(--bg-icon-03); }
.kc-sc01-info:nth-child(3) .kc-sc01-items:hover i { background-color: #fff; color: var(--bg-icon-03); }
.kc-sc01-info:nth-child(3) .kc-sc01-items:hover h1,
.kc-sc01-info:nth-child(3) .kc-sc01-items:hover p { color: var(--text-white); }
.kc-sc01-info:nth-child(3) .kc-sc01-items:hover a { color: var(--text-white); border: 1px solid var(--text-white); }
.kc-sc01-info:nth-child(3) .kc-sc01-items a:hover { color: var(--bg-icon-03); }

.kc-sc01-items .row p,
.kc-sc01-items .row a { color: var(--text-info); }
.kc-sc01-items .row a { border: 1px solid var(--text-info); }
.kc-sc01-items .row a:hover { border: 1px solid var(--text-white); }




/* ---------------------------------------------- */
/* ================= Section 02 | Explore Our Topics ================= */
.kc-sc02-btn {
    font-size: 16px;
    padding: .6rem 1.5rem;
    background-color: #eeeeee;
    color: var(--text-description);
}
.kc-sc02-btn:hover {
    background-color: var(--color-02);
    color: var(--text-white);
}

.kc-sc02-active { background-color: var(--color-02); color: var(--text-white); }

.kc-sc02-info { background-color: var(--text-white); }

.kc-sc02-border { width: 80%; border-bottom: 1px solid #ccc; transition: .25s ease; }
.kc-sc02-info:hover .kc-sc02-border { width: 100%;; }

.kc-sc02-title i { 
    position: relative;
    font-size: 20px; 
    margin-right: .8rem;
    padding: .5rem;
    border-radius: 0 50% 50% 50%;
    color: #fff;
    transition: all .5s ease;
}
.kc-sc02-items:hover i { border-radius: 50% 0 50% 50%; }


.kc-sc02-description { 
    position: relative; 
    transition: .25s ease; 
    color: var(--text-info); 
}
.kc-sc02-description:hover { color: var(--text-black); }
.kc-sc02-description::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #000;
    transition: .25s ease;
}
.kc-sc02-description:hover::before { width: 100%; }

.kc-sc02-list a i { font-size: 24px;}
.kc-sc02-list a { padding-bottom: 1rem; color: var(--text-description); transition: .5s ease;}
.kc-sc02-list a:hover { margin-left: 1rem; color: var(--color-02);}


.kc-sc02-items:nth-child(1) .kc-sc02-title i { background-color: var(--bg-icon-02); } 
.kc-sc02-items:nth-child(2) .kc-sc02-title i { background-color: var(--bg-icon-04); } 
.kc-sc02-items:nth-child(3) .kc-sc02-title i { background-color: var(--bg-icon-05); } 
.kc-sc02-items:nth-child(4) .kc-sc02-title i { background-color: var(--bg-icon-07); } 
.kc-sc02-items:nth-child(5) .kc-sc02-title i { background-color: var(--bg-icon-01); } 
.kc-sc02-items:nth-child(6) .kc-sc02-title i { background-color: var(--bg-icon-06); } 

.kc-sc02-items-btn {
    font-size: 16px;
    padding: .6rem 1.5rem;
    color: var(--text-black);
    border: 1px solid var(--text-black);
}
.kc-sc02-items-btn:hover {
    background-color: var(--color-02);
    color: var(--text-white);
    border: 1px solid var(--color-02);
}


/* ---------------------------------------------- */
/* ================= Section 03 | People Trust Us ================= */
.kc-sc03 {
    background-color: var(--color-02);
    background: url(../images/service_bg.jpeg) center / cover no-repeat;
}

.kc-sc03-items i { 
    position: relative;
    font-size: 40px; 
    padding: 1rem;
    border-radius: 0 50% 50% 50%;
    color: #fff;
    transition: all .5s ease;
    text-align: center;
}
.kc-sc03-items:hover i { border-radius: 50% 0 50% 50%; }

.kc-sc03-items p { color: var(--text-info); }

.kc-sc03-items:nth-child(1) i { background-color: var(--bg-icon-02); }
.kc-sc03-items:nth-child(2) i { background-color: var(--bg-icon-06); }
.kc-sc03-items:nth-child(3) i { background-color: var(--bg-icon-07); }
.kc-sc03-items:nth-child(4) i { background-color: var(--bg-icon-04); }

.kc-sc03-btn a i { font-size: 26px; transition: .5s ease; }
.kc-sc03-btn a:hover { color: #000; }




/* ---------------------------------------------- */
/* ================= Section 04 | Online Documentations ================= */
.kc-sc04-menu,
.kc-sc04-show { 
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    transition: all .35s ease;
}

/* .kc-sc04-relative {
    position: relative;
    height: max-content;
} */

.kc-sc04-show {
    /* position: absolute;
    top: 0;
    left: auto;
    right: auto;
    bottom: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    transform: translateY(-20px);
    opacity: 0;
    z-index: 699; */
    /* transition: 'opacity' .25s linear; */
    display: none;
    animation: opacity .35s;
}

.kc-sc04-show-active {
    display: block;
    /* visibility: visible;
    transform: translateY(0);
    opacity: 1; */
}

@keyframes opacity {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.kc-sc04-show .row {
    margin-left: .5rem;
    /* background-color: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05); */
}

.kc-sc04-menu {
    padding: 1.5rem 2.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    background-color: #fbfbfb;
    transition: .5s ease;
    z-index: 3;
}

.kc-sc04-menu:hover { box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25); }
.kc-sc04-menu:hover .kc-sc04-arrow svg { opacity: 1; }

.kc-sc04-menu-active:hover { box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05) !important; }
.kc-sc04-menu-active { position: relative; background-color: #fff; transition: all .35s ease; }
.kc-sc04-menu-active::before { width: 0%; transition: all .25s ease; }
.kc-sc04-menu-active .kc-sc04-arrow i,
.kc-sc04-menu-active .kc-sc04-arrow svg { opacity: 1 !important; }
.kc-sc04-menu-active::before {
    content: '';
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 100%;
    background-color: #fff;
    transition: all .35s ease;
}

@media screen and (max-width: 767px) {
    .kc-sc04-menu-active::before { display: none; }
}

.kc-sc04-menulist .kc-sc04-logo img {
    width: 70px;
}

.kc-sc04-menulist .kc-sc04-arrow i,
.kc-sc04-menulist .kc-sc04-arrow svg {
    width: 14px;
    height: 14px;
    font-weight: bold;
    padding: .4rem;
    background-color: #2e2e2e;
    color: #fff;
    border-radius: 50%;
    transition: .7s ease;
    opacity: .4;
}

.kc-sc04-items {
    display: inline-block;
    padding: 2rem 4rem !important;
}

.kc-sc04-items i {
    font-size: 25px;
    padding: .6rem;
    border-radius: 8px;
    transition: .25s ease;
}
.kc-sc04-items p { color: var(--text-info); }

.kc-sc04-items:nth-child(1) i { border: 1px solid var(--bg-icon-04); color: var(--bg-icon-04); }
.kc-sc04-items:hover:nth-child(1) i { background-color: var(--bg-icon-04); color: var(--text-white); }
.kc-sc04-items:nth-child(2) i { border: 1px solid var(--bg-icon-02); color: var(--bg-icon-02); }
.kc-sc04-items:hover:nth-child(2) i { background-color: var(--bg-icon-02); color: var(--text-white); }
.kc-sc04-items:nth-child(3) i { border: 1px solid var(--bg-icon-01); color: var(--bg-icon-01); }
.kc-sc04-items:hover:nth-child(3) i { background-color: var(--bg-icon-01); color: var(--text-white); }
.kc-sc04-items:nth-child(4) i { border: 1px solid var(--bg-icon-05); color: var(--bg-icon-05); }
.kc-sc04-items:hover:nth-child(4) i { background-color: var(--bg-icon-05); color: var(--text-white); }
.kc-sc04-items:nth-child(5) i { border: 1px solid var(--bg-icon-06); color: var(--bg-icon-06); }
.kc-sc04-items:hover:nth-child(5) i { background-color: var(--bg-icon-06); color: var(--text-white); }
.kc-sc04-items:nth-child(6) i { border: 1px solid var(--bg-icon-04); color: var(--bg-icon-04); }
.kc-sc04-items:hover:nth-child(6) i { background-color: var(--bg-icon-04); color: var(--text-white); }



/* ---------------------------------------------- */
/* ================= Section 05 | See Who Is Talking About Us ================= */
.kc-sc05 {
    background-color: #FFFCF6;
}

.kc-sc05-items {
    margin: 1rem;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 20px #ddd;
}
.kc-sc05-items h1 {
    font-size: 48px;
    color: var(--color-02);
}
.kc-sc05-items i {
    font-size: 20px;
    font-weight: lighter;
    color: var(--text-info);
}
.kc-sc05-items p { color: var(--text-description); }



/* ---------------------------------------------- */
/* ================= Section 06 | Frequently Asked Question ================= */

/* ---------- Menu ---------- */
.kc-sc06-menu {
    padding: 3rem;
    box-shadow: 0 0 20px #ddd;
    background-color: #fff;
    border-radius: 8px;
}

.kc-sc06-menu li { position: relative; list-style: disc; }
.kc-sc06-menu li::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #e6e6e6;
    transition: .5s ease;
}
.kc-sc06-menu li:hover::before {
    width: 100%;
    background-color: #1489f6;
}

.kc-sc06-menu li a { 
    font-size: 18px;
    padding: 1rem 0; 
    color: var(--text-black);
    border-bottom: 1px solid #e6e6e6;
    transition: .25s ease;
}

.kc-sc06-menu li::marker {
    font-size: 18px;
    color: var(--text-black);
}

.kc-sc06-menu li a svg,
.kc-sc06-menu li a i {
    font-weight: lighter;
    padding: .4rem;
    background-color: #eee;
    color: #000;
    border-radius: 50%;
    transform: rotate(-45deg);
    transition: .5s ease;
}

.kc-sc06-menu li:hover a,
.kc-sc06-menu li:hover::marker { color: var(--color-02);}
.kc-sc06-menu li:hover a i {
    transform: rotate(0deg);
    color: #fff;
    background-color: var(--color-02);
}

.kc-sc06-menu .kc-sc06-menu-active::before { width: 100%; background-color: var(--color-02); }
.kc-sc06-menu .kc-sc06-menu-active a,
.kc-sc06-menu .kc-sc06-menu-active::marker { color: var(--color-02); }
.kc-sc06-menu .kc-sc06-menu-active a svg,
.kc-sc06-menu .kc-sc06-menu-active a i {
    transform: rotate(0deg);
    color: #fff;
    background-color: var(--color-02);
}


/* ---------- Info show ---------- */
.kc-sc06-list {
    display: none;
    margin-bottom: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    background-color: #fff;
    transform: translateY(-20deg);
    transition: all .25s ease;
    box-shadow: 0 0 20px #ddd;
    cursor: pointer;
}

.kc-sc06-list-show { display: block; animation: kc06-show .35s; }

@keyframes kc06-show {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.kc-sc06-info { transition: all .25s ease; }
.kc-sc06-info svg,
.kc-sc06-info h1 { transition: .25s ease; }
.kc-sc06-info i,
.kc-sc06-info svg { transform: rotate(90deg); color: var(--color-02); }

.kc-sc06-info-active h1 { color: var(--color-02); transition: all .25s ease; }
.kc-sc06-info-active i,
.kc-sc06-info-active svg { transform: rotate(270deg); transition: all .25s ease; }

.kc-sc06-hidden { 
    height: 0;
    overflow: hidden; 
    transition: all .25s ease; 
    margin: 0 !important; 
}
.kc-sc06-info-active + .kc-sc06-hidden { display: block !important; height: 100px; }


/* ---------------------------------------------- */
/* ================= Section 07 | Great Customer Reletionship ================= */
.kc-sc07 {
    background: url(../images/cta.jpeg) center / cover no-repeat;
}


.kc-sc07-checkbox input[type="checkbox"] {
    position: relative;
    color: #fff;
	border: 1px solid #fff;
	border-radius: 12px;
	background: none;
	cursor: pointer;
	line-height: 0;
	outline: 0;
    margin-right: .2rem;
	padding: 0 !important;
	vertical-align: text-top;
	height: 20px;
	width: 20px;
	-webkit-appearance: none;
	appearance: none;
}

.kc-sc07-checkbox input[type="checkbox"]:checked {
    background-color: #fff;
}

.kc-sc07-checkbox span { color: var(--text-white); }


/* ---------------------------------------------- */
/* ================= Footer ================= */
/* ---------------------------------------------- */
.kc-ft-contact p { padding: .8rem 0; color: var(--text-info); }
.kc-ft-contact a {
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px solid;
    margin-right: 1rem;
    border-radius: 30px;
    transition: .25s ease;
}
.kc-ft-contact a:nth-child(1) { border-color: var(--bg-icon-07); color: var(--bg-icon-07); }
.kc-ft-contact a:nth-child(2) { border-color: var(--bg-icon-03); color: var(--bg-icon-03); }
.kc-ft-contact a:nth-child(3) { border-color: var(--color-01); color: var(--color-01); }
.kc-ft-contact a:nth-child(4) { border-color: var(--bg-icon-01); color: var(--bg-icon-01); }

.kc-ft-contact a svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -52%);
}

.kc-ft-contact a:hover { color: #fff; }
.kc-ft-contact a:hover:nth-child(1) { background-color: var(--bg-icon-07); }
.kc-ft-contact a:hover:nth-child(2) { background-color: var(--bg-icon-03); }
.kc-ft-contact a:hover:nth-child(3) { background-color: var(--color-01); }
.kc-ft-contact a:hover:nth-child(4) { background-color: var(--bg-icon-01); }


.kc-ft-list li a {
    position: relative;
    display: inline-block;
    padding: .8rem 0 .2rem 0;
    color: var(--text-info);
    transition: .25s ease;
}
.kc-ft-list li a:hover { color: var(--text-black); }

.kc-ft-list li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #fff;
    transition: .5s ease;
}
.kc-ft-list li a:hover::before {
    width: 100%;
    background-color: var(--text-black);
}

.kc-ft-copyright p { color: var(--text-info); }
.kc-ft-copyright p a { color: var(--text-black); }